
#sections{
    .carousel{
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-snap-stop: always;
        //ボタン
        &::scroll-button(left) {
        content: "◀" / "Scroll Left";
        justify-self: end;
        margin-left: 30%;
        width: 50px;height: 50px;
        border: none;
        border-radius: 100%;
        padding-top: 10px;
    }
        &::scroll-button(right) {
        content: "▶" / "Scroll Right";
        margin-left: 55%;
        width: 50px;height: 50px;
        border: none;
        border-radius: 100%;
        padding-top: 10px;
    }
        
    }
    .carousel-item{
        scroll-snap-align: start;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        //ここから見た目
        width: 400px;
        height: 600px;
        background-color: yellow;
        border-radius: 20px;
        margin-right: 10px;
        scroll-snap-align: center;
    }
    .carousel::-webkit-scrollbar {
    display: none;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form {
    h1 {
        font-size: 24px;
        text-align: center;
    }
}

#news {}

