
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 0 10px;
    color: #B7C7C0;
    background-color: #15734C;
    display: flex;
}

    h2{
        
    }

    .header-section{
        display: flex;
        justify-content: flex-end;
        margin: 10px 10px 10px auto;
        .header{
       
        align-items: center;
        
        display: flex;
        flex-direction: column;
        h2{
            font-size: 10px;
        }

        img{
            margin: 0 10px 0 10px;
            width: 50%;
        }
    }
    
    
    }

#achievements {
    .explain {
        text-align: center;
    }

    .container {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(214, 248, 205);
        height: 540px;
        width: 750px;
        column-gap: 100px;
        padding: 0 120px;


    }

    .item {
        background-color: rgb(118, 216, 211);
        text-align: center;
        border-radius: 10%;
        height: 230px;
        width: 180px;
        margin-top: 30px;
    }

    .item:nth-child(4) {
        margin-left: 130px;
    }

    .item:nth-child(5) {
        margin-left: 40px;
    }

    .itemimg {
        border-radius: 10%;
        background-color: black;
        margin-top: 1px;
        width: 170px;
        height: 170px;


    }

}


#sections {
    .carousel {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-snap-stop: always;

        //ボタン
        &::scroll-button(left) {
            content: "◀" / "Scroll Left";
            justify-self: end;
            margin-left: 30%;
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 100%;
            padding-top: 10px;
        }

        &::scroll-button(right) {
            content: "▶" / "Scroll Right";
            margin-left: 55%;
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 100%;
            padding-top: 10px;
        }

    }

    .carousel-item {
        scroll-snap-align: start;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        //ここから見た目
        width: 400px;
        height: 600px;
        background-color: yellow;
        border-radius: 20px;
        margin-right: 10px;
        scroll-snap-align: center;
    }

    .carousel::-webkit-scrollbar {
        display: none;
    }
}

#header {}

#news {}


#form {
    .form-title {
        text-align: center;
        font-size: 25px;
        margin: 0 auto;
        width: 80%;
    }

    .form-content {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 80%;
        height: 800px;
        font-size: 30px;
    }

    .form-name {

        margin-top: 5px
    }

    label {
        display: block;
        margin-top: 10px;
    }


    .form-input {
        display: block;
        margin: 5px auto;
        width: 80%;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 5px;
        font-size: 80%;
    }

    input[type="submit"] {
        font-size: 80%;
    }

    input[type="text"] {
        font-size: 80%;
    }

    textarea[type="text"] {
        font-size: 80%;
    }

    textarea {
        display: block;
        margin: 5px auto;
        width: 80%;
        height: 100px;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 5px;
        resize: vertical;
    }

    .form-button {
        display: inline-block;
        margin: 20px;
        width: 20%;
        height: 60px;
        border-radius: 20px;
        border: none;
        background-color: #13703d;
        color: white;
        cursor: pointer;
    }

}

#news {}

hr {
    border: none;
    border-top: 6px dashed #13703d;
    margin: 20px 0;
