#achievements{
    .taitoru{
        text-align: center;
    }
    .grborder{
        color: green;
        border: dashed;
    }
    .explain{
        text-align: center;
    }
    .container{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(214, 248, 205);
        height: 540px;
        width: 700px;
        column-gap: 10px;
        padding: 0 10px;


    }
    .item{
        background-color: rgb(118, 216, 211);
        text-align: center;
        border-radius: 10%;
        height: 230px;
        width: 170px;
        margin:  0 auto;
        margin-left: 20px;
        margin-top: 20px;
    }
    .item:nth-child(1){
        margin-left: 30px;
    }
    .item:nth-child(4){
        margin-left: 130px;
    }
    .item:nth-child(5){
        margin-left: 40px;
    }
    .itemimg{
        border-radius: 10%;
        background-color: black;
        margin-top: 1px;
        width: 170px;
        height: 170px;


    }
    dialog{
        position: fixed;
        top: 50%;
        left: 50%;
        transform:  translate(-50%,-50%);
        background:rgb(196, 253, 230);
        padding:20px;
        border-radius: 10px;
        width: 300px;
        text-align:center;
        border: none;
    }
    .btnpopup{
         text-align: center;
        border-radius: 10%;
        height: 230px;
        width: 170px;
        background-color: transparent;
        border: thick;
        
    }
    .btn-DTM{
        border-radius: 10%;
        background-color:transparent;
        margin-top: 1px;
        width: 170px;
        height: 230px;
        border: thick;
    }
    .btn-AI{
        border-radius: 10%;
        background-color: transparent;
        margin-top: 1px;
        width: 170px;
        height: 230px;
        border: thick;

    }

    
}


#sections{
    .carousel{
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-snap-stop: always;
        //ボタン
        &::scroll-button(left) {
        content: "◀" / "Scroll Left";
        justify-self: end;
        margin-left: 30%;
        width: 50px;height: 50px;
        border: none;
        border-radius: 100%;
        padding-top: 10px;
    }
        &::scroll-button(right) {
        content: "▶" / "Scroll Right";
        margin-left: 55%;
        width: 50px;height: 50px;
        border: none;
        border-radius: 100%;
        padding-top: 10px;
    }
        
    }
    .carousel-item{
        scroll-snap-align: start;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        //ここから見た目
        width: 400px;
        height: 600px;
        background-color: yellow;
        border-radius: 20px;
        margin-right: 10px;
        scroll-snap-align: center;
    }
    .carousel::-webkit-scrollbar {
    display: none;
    }
}
#header{

}
#news{
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form {
    h1 {
        font-size: 24px;
        text-align: center;
    }
}

#news {}


