#achievements{
    .explain{
        text-align: center;
    }
    .container{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(214, 248, 205);
        height: 540px;
        width: 750px;
        column-gap: 100px;
        padding: 0 120px;


    }
    .item{
        background-color: rgb(118, 216, 211);
        text-align: center;
        border-radius: 10%;
        height: 230px;
        width: 180px;
        margin-top: 30px;
    }
    .item:nth-child(4){
        margin-left: 130px;
    }
    .item:nth-child(5){
        margin-left: 40px;
    }
    .itemimg{
        border-radius: 10%;
        background-color: black;
        margin-top: 1px;
        width: 170px;
        height: 170px;


    }
    
}